# EditorConfig files make maintaining style easy for larger projects
# that have multiple developers working together. The rules defined
# here will override your editors default styling rules for all files
# in the project, so that everyone is on the same page.

# Top-most EditorConfig file
root = true

# For every file
[*]
# Which style of newline to use
end_of_line = crlf
# Insert a newline at the end of the file
insert_final_newline = true
# Trim trailing whitespace at the end of lines
trim_trailing_whitespace = true

# For every Java and Python file
[*.{java, py}]
# 4 width space indentation
indent_style = space
indent_size = 4

# For every C and H file
[*.{c, h}]
# Set default charset
charset = utf-8
# 3 space indentation
indent_style = space
indent_size = 3

# For every JS, TS, and JSX file
[*.{js, ts, jsx}]
# 3 space indentation
indent_style = space
indent_size = 3

# For the makefile
[makefile]
# Tab indentation
indent_style = tab
